body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.restaurant-container {
  height: fit-content;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.restaurant-centering {
  display: grid;
  justify-content: center;
}

.restaurant-card {
  margin: 10px;
  width: 300px;
}

.restaurant-search-button,
.recipe-search-button,
.login-button,
.signup-button,
.delete-account-button,
.search-button,
.post-review-button,
.review-button {
  background-color: #d32322 !important;
  border-color: #d32322 !important;
  box-shadow: none;
}

.settings-button {
  box-shadow: none;
}

.login-button,
.signup-button {
  margin-bottom: 10px;
}

.link,
.navbar-navlink {
  text-decoration: none;
  color: black;
}

.navbar-navlink {
  margin: 5px;
}

.restaurant-result-header {
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
}

.category {
  display: inline-block;
}

.category:not(:last-child)::after {
  content: ",\00a0";
}


.restaurant-info-container {
  width: 1200px;
}

.restaurant-photos {
  display: flex;
  height: 300px;
}

.hour-list {
  list-style-type: none;
}

.profile-picture {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.homepage-background {
  z-index: -1;
  height: 625px;
  overflow: hidden;
}

.homepage-image {
  width: 100%;
}

.homepage-search {
  font-size: 30px;
  text-align: center;
  justify-content: center;
  display: grid;
  z-index: 1;
  transform: translate(0%, 160%);
}

.recipe-container {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-right: 15px;
  margin-left: 15px;
}

.recipe-search {
  text-align: center;
  justify-content: center;
  display: grid;
  margin-bottom: 30px;
  margin-top: 20px;
}

.recipe-card {
  margin-right: 10px;
  margin-left: 10px;
}

.recipe-image {
  width: 300px;
  height: 300px;
}

.recipe-header {
  font-size: 20px;
  font-weight: bold;
}

.recipe-info {
  text-align: center;
  justify-content: center;
  display: grid;
}

input {
  text-align: center;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em
  }

  40% {
    top: 0em
  }

  43% {
    top: -0.9em
  }

  46% {
    top: 0em
  }

  48% {
    top: -0.4em
  }

  50% {
    top: 0em
  }

  100% {
    top: 0em;
  }
}

.hours {
  width: fit-content;
}

.location-hours {
  display: grid;
  grid-template-columns: auto auto auto;
}

.restaurant-info-card {
  margin-top: 20px;
  border: none !important;
}

.restaurant-header {
  font-weight: bold;
}

.restaurant-overlay {
  height: fit-content;
  width: fit-content;
  transform: translate(0%, 65%);
  color: white;
}

.status {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}


.review-button {
  margin-bottom: 30px;
  margin-top: 10px;
}

.edit-textarea {
  box-sizing: content-box;
  width: 100%;
}

.edit-button,
.delete-button,
.cancel-button {
  margin-left: 5px;
  margin-right: 5px;
  background: transparent;
  border: none;
  font-size: 18px;
}

.login-container,
.signup-container {
  display: flex;
}

.login-column,
.signup-column {
  text-align: center;
}

.login-input,
.login-label,
.signup-input,
.signup-label,
.settings-input,
.settings-label {
  margin: auto;
  width: fit-content !important;
  text-align: left !important;
}

.user-container {
  width: 800px;
  margin: auto;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.user-profile-picture {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.post-review-button {
  margin-right: 5px;
}

.navbar-profile-picture {
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.account-toggle {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.recipe-icon {
  font-size: 24px;
}

.settings-input {
  text-align: left !important;
}