body {
  margin: 0;
  font-family: 'Barlow', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.restaurant-container {
  height: fit-content;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.restaurant-centering {
  display: grid;
  justify-content: center;
}

.restaurant-card {
  margin-bottom: 5px;
  width: 320px;
}

.restaurant-search-button,
.recipe-search-button,
.login-button,
.signup-button,
.delete-account-button,
.search-button,
.post-review-button,
.review-button,
.review-submit-button,
.loading-button,
.send-email-button {
  background-color: #d32322 !important;
  border-color: #d32322 !important;
  box-shadow: none;
}

.settings-button {
  box-shadow: none;
}

.login-button,
.signup-button {
  margin-bottom: 10px;
}

.link,
.navbar-navlink {
  text-decoration: none;
  color: black;
}

.navbar-navlink {
  margin: 5px;
}

.restaurant-result-header {
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
}

.category {
  display: inline-block;
}

.category:not(:last-child)::after {
  content: ",\00a0";
}


.restaurant-info-container {
  width: 1200px;
}

.restaurant-photos {
  display: flex;
  width: 1200px;
  height: 300px;
  overflow: hidden;
}

.hour-list {
  list-style-type: none;
}

.profile-picture {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  overflow: hidden;
}

.homepage-background {
  z-index: -1;
  height: 625px;
  overflow: hidden;
}

.homepage-image {
  width: 100%;
}

.homepage-search {
  font-size: 30px;
  text-align: center;
  justify-content: center;
  display: grid;
  z-index: 1;
  transform: translate(0%, 100%);
}

.recipe-container {
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-right: 15px;
  margin-left: 15px;
}

.recipe-search {
  text-align: center;
  justify-content: center;
  display: grid;
  margin-bottom: 15px;
  margin-top: 20px;
}

.recipe-card {
  width: 400px;
  height: fit-content;
}

.recipe-header {
  font-size: 20px;
  font-weight: bold;
}

.recipe-centering {
  justify-content: center;
  display: grid;
}

input,
.recipe-map-container,
.no-recipes,
.recipe-subtitle {
  text-align: center;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em
  }

  40% {
    top: 0em
  }

  43% {
    top: -0.9em
  }

  46% {
    top: 0em
  }

  48% {
    top: -0.4em
  }

  50% {
    top: 0em
  }

  100% {
    top: 0em;
  }
}

.hours {
  width: 300px;
  text-align: center;
}

.hours-container {
  display: flex;
  align-items: center;
}

.contact-container {
  width: 300px;
}

.overall-contact-container {
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  margin: auto;
}

.overall-account-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
}

.account-container,
.password-container {
  padding-right: 10px;
}

.location-hours {
  display: grid;
  grid-template-columns: auto auto auto;
}

.restaurant-info-card {
  margin-top: 20px;
  border: none !important;
}

.restaurant-header {
  font-weight: bold;
}

.restaurant-overlay {
  height: fit-content;
  width: fit-content;
  transform: translate(0%, 35%);
  color: white;
  font-size: 20px;
}

.status,
.missing-ingredients {
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.review-button {
  margin-bottom: 30px;
  margin-top: 10px;
}

.edit-textarea {
  box-sizing: content-box;
  height: 100px;
  width: 100%;
}

.write-review-textarea {
  height: 150px;
}

.overall-user-review-container {
  display: flex;
  align-items: center;
  height: 50vh;
}

.edit-button,
.delete-button,
.cancel-button {
  margin-left: 5px;
  margin-right: 5px;
  background: transparent;
  border: none;
  font-size: 18px;
}

.login-container,
.signup-container {
  display: flex;
  align-items: center;
}

.login-column,
.signup-column,
.spinner {
  text-align: center;
}

.spinner-bubbles {
  margin: auto;
  height: 100px;
  width: 100px;
}

.login-input,
.login-label,
.signup-input,
.signup-label {
  margin: auto;
  width: fit-content !important;
  text-align: left !important;
}

.settings-input,
.settings-label {
  width: fit-content !important;
  text-align: left !important;
}

.user-container {
  width: 750px;
  margin: auto;
}

.user-info {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.user-profile-picture {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  overflow: hidden;
  margin: auto;
}

.post-review-button {
  margin-right: 5px;
}

.navbar-profile-picture {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  overflow: hidden;
}

.account-toggle {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.account-toggle:after {
  display: none !important;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.logo-disabled {
  font-size: 30px;
  font-weight: bold;
  opacity: 0.5;
  cursor: not-allowed;
}

.recipe-icon {
  font-size: 24px;
}

.recipe-icon-disabled {
  font-size: 24px;
  opacity: 0.5;
  cursor: not-allowed;
}

.settings-input,
.email-inputs {
  text-align: left !important;
}

.accordion-setting-buttons,
.add-edit-header,
.delete-modal {
  text-align: center !important;
}

.map,
.delete-account-buttons,
.user-review-container {
  margin: auto !important;
}

.user-review-container {
  width: 500px;
}

.logout-navbar,
.closed {
  color: red !important;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.recipe-card-container,
.restaurant-card-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  font-size: 1rem;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .2;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.recipe-card-container:hover .front,
.restaurant-card-container:hover .front,
.recipe-card-container:hover .back,
.restaurant-card-container:hover .back {
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.recipe-card-container .back,
.restaurant-card-container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.recipe-card-container .front,
.restaurant-card-container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.recipe-card-container:hover .back,
.restaurant-card-container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.recipe-card-container:hover .front,
.restaurant-card-container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:not(.recipe-card-info):after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: white;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

.restaurant-card-restaurant-name,
.recipe-card-recipe-name,
.restaurant-overlay {
  text-shadow: 2px 2px black;
}

.recipe-card-info {
  text-shadow: 2px 2px black;
  font-size: 20px !important;
}

.recipe-card-back,
.restaurant-card-back {
  overflow-y: scroll;
  max-height: 100%;
  height: fit-content
}

.star-rating {
  cursor: default !important;
}

.ingredient-list {
  border-radius: 20px !important;
}

.open {
  color: #00a16d;
  text-shadow: 1px 1px black;
}

.hr {
  border: 1px solid white;
}

.or {
  color: white;
  text-shadow: 1px 1px black;
}

.recipe-info-card {
  margin: 20px;
}

.recipe-info-container {
  width: 600px;
}

.recipe-photo {
  overflow: hidden;
}

.recipe-overlay {
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
}

.email-message {
  height: 150px !important;
}